<nav class="navbar navbar-expand-lg navbar-dark bg-orange py-2 pl-md-4 pr-md-5">
    <button class="btn text-white border-right rounded-0" id="sidebar-toggler"><i class="fas fa-th"></i></button>
    <a class="navbar-brand font-weight-bold px-md-2" href="#">Administrador Global</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGoTour">
        <span class="navbar-toggler-icon"><i class="fas fa-ellipsis-v"></i></span>
    </button>
    <div class="collapse navbar-collapse mr-auto pr-md-2" id="navbarGoTour">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-fluid" width="35" src="~/images/user.svg" alt="FotoPerfil"><span class="ml-2">Tania Camargo</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item font-weight-bold" href="#"><i class="mr-1 text-orange fas fa-cog"></i>&nbsp;Configuración</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"><i class="mr-1 text-orange fas fa-power-off"></i>&nbsp;Cerrar Sesión</a>

                </div>
            </li>
        </ul>
    </div>
</nav>