<div class="container-fuid pt-2 pb-4">
    <div class="row py-2">
        <!--card1-->
        <div class="col-md-4">
            <div class="card bg-purple-dark rounded-0">
                <div class="card-body pr-4">
                    <div class="card-title d-flex">
                        <h6 class="d-inline-block font-weight-bold mr-auto">Ingresos totales</h6>
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Ingresos Totales</a>
                                <a class="dropdown-item" href="#">Ingresos Diarios</a>
                                <a class="dropdown-item" href="#">Ticket Promedio</a>
                                <a class="dropdown-item" href="#">Precio Moda</a>
                                <a class="dropdown-item" href="#">Ticket Máximo</a>
                                <a class="dropdown-item" href="#">Ticket Mínimo</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Eum facilis blanditiis iure earum? Iste, quis veniam. Repellendus voluptates recusandae amet?
                        Optio aperiam exercitationem expedita ullam ad fuga, eligendi velit nihil.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit accusantium cupiditate.
                    </p>
                </div>
            </div>
        </div>
        <!--card1-->
        <!--card 2-->
        <div class="col-md-4">
            <div class="card bg-purple-dark rounded-0">
                <div class="card-body pr-4">
                    <div class="card-title d-flex">
                        <h6 class="d-inline-block font-weight-bold mr-auto">Puntuación Promedio</h6>
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Por Agencia</a>
                                <a class="dropdown-item" href="#">Por Ciudad</a>
                                <a class="dropdown-item" href="#">Por Tour</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Eum facilis blanditiis iure earum? Iste, quis veniam. Repellendus voluptates recusandae amet?
                        Optio aperiam exercitationem expedita ullam ad fuga, eligendi velit nihil.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit accusantium cupiditate.
                    </p>
                </div>
            </div>
        </div>
        <!--card 2-->
        <!--card 3-->
        <div class="col-md-4">
            <div class="card bg-purple-dark rounded-0">
                <div class="card-body pr-4">
                    <div class="card-title d-flex">
                        <h6 class="d-inline-block font-weight-bold mr-auto">Cancelaciones</h6>
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Por Agencia</a>
                                <a class="dropdown-item" href="#">Por Usuario</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Eum facilis blanditiis iure earum? Iste, quis veniam. Repellendus voluptates recusandae amet?
                        Optio aperiam exercitationem expedita ullam ad fuga, eligendi velit nihil.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit accusantium cupiditate.
                    </p>
                </div>
            </div>
        </div>
        <!--card 3-->
    </div>
    <div class="row py-2">
        <!--card 1-->
        <div class="col-md-6">
            <div class="card bg-purple-dark rounded-0">
                <div class="card-body pr-4">
                    <div class="card-title d-flex">
                        <h5 class="d-inline-block font-weight-bold mr-auto">Cancelaciones</h5>
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Por Agencia</a>
                                <a class="dropdown-item" href="#">Por Ciudad</a>
                                <a class="dropdown-item" href="#">Por Tour</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Eum facilis blanditiis iure earum? Iste, quis veniam. Repellendus voluptates recusandae amet?
                        Optio aperiam exercitationem expedita ullam ad fuga, eligendi velit nihil.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit accusantium cupiditate.
                    </p>
                </div>
            </div>
        </div>
        <!--card 1-->
        <!--card 2-->
        <div class="col-md-6">
            <div class="card bg-purple-dark rounded-0">
                <div class="card-body pr-4">
                    <div class="card-title d-flex">
                        <h5 class="d-inline-block font-weight-bold mr-auto">Ranking de Ciudades</h5>
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Mayor reserva</a>
                                <a class="dropdown-item" href="#">Nacionalidad</a>
                                <a class="dropdown-item" href="#">Ciudad</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Eum facilis blanditiis iure earum? Iste, quis veniam. Repellendus voluptates recusandae amet?
                        Optio aperiam exercitationem expedita ullam ad fuga, eligendi velit nihil.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit accusantium cupiditate.
                    </p>
                </div>
            </div>
        </div>
        <!--card 2-->
    </div>
    <div class="row py-2">
        <!--card -->
        <div class="col-md-6">
            <div class="card bg-purple-dark rounded-0">
                <div class="card-body pr-4">
                    <div class="card-title d-flex">
                        <h5 class="d-inline-block font-weight-bold mr-auto">Ranking de Ciudades</h5>
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Mayor reserva</a>
                                <a class="dropdown-item" href="#">Nacionalidad</a>
                                <a class="dropdown-item" href="#">Ciudad</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Eum facilis blanditiis iure earum? Iste, quis veniam. Repellendus voluptates recusandae amet?
                        Optio aperiam exercitationem expedita ullam ad fuga, eligendi velit nihil.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit accusantium cupiditate.
                    </p>
                </div>
            </div>
        </div>
        <!--card -->
        <!--card -->
        <div class="col-md-6">
            <div class="card bg-purple-dark rounded-0">
                <div class="card-body pr-4">
                    <div class="card-title d-flex">
                        <h5 class="d-inline-block font-weight-bold mr-auto">Ranking de Ciudades</h5>
                        <div class="dropdown">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Mayor reserva</a>
                                <a class="dropdown-item" href="#">Nacionalidad</a>
                                <a class="dropdown-item" href="#">Ciudad</a>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Eum facilis blanditiis iure earum? Iste, quis veniam. Repellendus voluptates recusandae amet?
                        Optio aperiam exercitationem expedita ullam ad fuga, eligendi velit nihil.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sit accusantium cupiditate.
                    </p>
                </div>
            </div>
        </div>
        <!--card -->
    </div>
</div>