
@{
    ViewData["Title"] = "Privacity";
    
}

<p>
    Datos personales que recopilamos
    GoTour recopila datos suyos, a través de nuestras interacciones con usted y de nuestros productos. Usted proporciona algunos de estos datos directamente y nosotros obtenemos otros recopilando datos sobre sus interacciones, su uso y sus experiencias con nuestros productos. Los datos que recopilamos dependen del contexto de sus interacciones con GoTour y de las elecciones que realice, incluyendo las relativas a su configuración de privacidad y a los productos y funciones que use. También obtenemos datos sobre usted de terceros.

    Si representa a una organización, como puede ser una empresa o un centro educativo, que use productos de GoTour para empresas y desarrolladores, consulte la sección Productos para empresas y desarrolladores de esta declaración de privacidad para conocer cómo tratamos sus datos.

    Dispone de posibilidades de elección relativas a la tecnología que usa y los datos que comparte. Cuando se le pide facilitar datos personales, puede negarse a ello. Muchos de nuestros productos requieren algunos datos personales para poder proporcionarle un servicio. Si elige no facilitar los datos necesarios para proporcionarle un producto o una función, no podrá usar dicho producto o dicha función. De igual modo, cuando necesitemos recopilar datos personales por imperativo legal, para celebrar un contrato con usted o cumplirlo y no facilite los datos, no podremos celebrar el contrato; o bien, si esto está relacionado con un producto existente que esté usando, puede que debamos suspenderlo o cancelarlo. En su momento, se lo notificaremos cuando sea el caso. Cuando proporcionar los datos sea opcional y decida no compartir datos personales, las funciones que usen tales datos, como la personalización, no funcionarán para usted.

    Más información
    Principio de la página
    Cómo usamos los datos personales
    GoTour utiliza los datos que recopilamos para proporcionarle experiencias enriquecidas e interactivas. En particular, usamos los datos para:

    Proporcionar nuestros productos, lo que incluye la actualización, protección y solución de problemas, así como facilitar soporte técnico. También incluye compartir datos, cuando sea necesario para proporcionar el servicio o realizar las transacciones que solicite.
    Mejorar y desarrollar nuestros productos.
    Personalizar nuestros productos y hacer recomendaciones.
    Anunciarle y comercializarle, lo que incluye el envío de comunicaciones de carácter promocional, publicidad dirigida y presentarle ofertas relevantes.
    También usamos los datos para operar nuestro negocio, lo que incluye analizar nuestro rendimiento, cumplir con nuestras obligaciones legales, desarrollar nuestra capacidad de trabajo y realizar investigación.

    Con esta finalidad, combinamos los datos que recopilamos de diferentes contextos (por ejemplo, de su uso de dos productos de GoTour) u obtenemos de terceros para ofrecerle una experiencia más agradable, coherente y personalizada, para tomar decisiones empresariales informadas, y con otros fines legítimos.
</p>

