<h3 style="font-family:'BebasNeue'">Todos las Agencias</h3>
<div class="table-responsive py-3">
    <table id="TableCompany" class="table bg-white text-dark" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Número de documento</th>
                <th scope="col">Teléfonos</th>
                <th scope="col">Dirección</th>
                <th scope="col">Correo</th>
                <th scope="col">Estado</th>
                <th style="width: 5%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
    </table>
</div>