
@{
    ViewData["Title"] = "AddCompany";
}


<!--navbar-->
@{
    await Html.RenderPartialAsync("_Navbar");
}
<!--end navbar-->
<div class="wrapper">
    <!--sidebar-->
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
    <!--end sidebar-->
    <!--page wrapper-->
    <main class="container-fluid">
        <div class="container-fuid pt-2 pb-4">
            <div class="row p-4">
                <div class="col">
                    <div class="form-custom rounded-normal bg-purple-dark py-4 px-5">
                        <h3>Datos de la Agencia</h3>
                        <form class="py-3" action="" method="post">

                            <div class="form-row">
                                <div class="form-group col-12 col-md">
                                    <input class="form-control" placeholder="Razón Social" name="Name" id="Name" type="text">
                                </div>
                                <div class="form-group col-12 col-md offset-md-1">
                                    <input class="form-control" type="text" name="Address" id="Address" placeholder="Dirección" />
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md">
                                    <select class="form-control" name="TypeNumberDocument" id="TypeNumberDocument">
                                        <option value="">Seleccione el tipo de documento</option>
                                        <option value="0">RUC</option>
                                        <option value="1">DNI</option>
                                        <option value="2">Carnet de Extranjera</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md offset-md-1">
                                    <input class="form-control" placeholder="Número de Documento" name="NumberDocument" id="NumberDocument" type="text">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-12 col-md">
                                    <input class="form-control" placeholder="Teléfono" name="Phone" id="Phone" type="text">
                                </div>
                                <div class="form-group col-12 col-md offset-md-1">
                                    <input class="form-control" placeholder="Celular" name="Movil" id="Movil" type="text">
                                </div>
                            </div>

                            <div class="form-row py-4">
                                <div class="col-12 col-md">
                                    <h6 class="font-weight-bold">Contacto:</h6>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Correo Electrónico" name="Email" id="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Correo Electrónico Opcional" name="OptionalEmail" id="OptionalEmail" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Página web" name="Web" id="Web" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md offset-md-1">
                                    <h6 class="font-weight-bold">Otros:</h6>
                                    <div class="form-group">
                                        <div class="cursor-pointer custom-file">
                                            <input type="file" accept=".jpg,.jpeg,.png" class="cursor-pointer custom-file-input" id="UrlPhoto">
                                            <label class=" custom-file-label" for="UrlPhoto" aria-describedby="File">Logo</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="text-center">
                                <button type="button" role="button" name="Add" id="Add" class="mx-md-3 my-2 rounded-default btn btn-sm px-5 btn-purple font-weight-bold">Aceptar</button>
                                <button type="button" role="button" name="Cancel" class="mx-md-3 my-2 rounded-default btn btn-sm px-5 btn-orange font-weight-bold">Cancelar</button>
                            </div>
                        </form>
                      
                    </div>
                </div>
            </div>

        </div>

    </main>
    <!--end page wrapper-->
</div>

@section scripts {
    <script>
        $("#Add").click(function () {
            var TargetFile = $('#UrlPhoto')[0].files[0];
            var vFormData = new FormData();
            vFormData.append("Name", $("#Name").val());
            vFormData.append("Address", $("#Address").val());
            vFormData.append("TypeNumberDocument", $("#TypeNumberDocument").val());
            vFormData.append("NumberDocument", $("#NumberDocument").val());
            vFormData.append("Phone", $("#Phone").val());
            vFormData.append("Movil", $("#Movil").val());
            vFormData.append("Email", $("#Email").val());
            vFormData.append("OptionalEmail", $("#OptionalEmail").val());
            vFormData.append("Web", $("#Web").val());
            if ($("#UrlPhoto")[0].files.length > 0) {
                vFormData.append("Photo", TargetFile, TargetFile.name);
            }
            for (var pair of vFormData.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }  
            $.ajax({
                     url: "/Company/Add",
                     type: "POST",
                     data: vFormData,
                     dataType: "json",
                     contentType: false,
                     processData: false,
                     success: function (response) {
                            if (response.content == "1") {
                                Swal.fire(
                                    'Agencia Agregada',
                                    '',
                                    'success'
                                ).then(function () {
                                    window.location.href = '@Url.Action("All", "Company")';
                                });
                            } else if (response.content == "2") {
                                Swal.fire(
                                    'Ya existe esta agencia',
                                    'Intente ingresando una agencia diferente',
                                    'error'
                                )
                            } else if (response.content == "3" || response.content == "4" || response.content =="5") {
                                Swal.fire(
                                    'Ha ocurrido un error, no se puedo agregar correctamente',
                                    'Inténtelo de nuevo',
                                    'error'
                            )
                            }                       

                        },
                        error: function (xhr) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
             });  

           
        });
    </script>
}

