
@{
    ViewData["Title"] = "Privacy";
}

@await Html.PartialAsync("_Header")

<!--privacy page-->
<div class="container p-5">
    <section class="bg-white rounded p-4 p-md-5">
        <h2 class="text-center">Políticas de privacidad</h2>
        <div class="line"></div>
        <div class="paragraph pt-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores beatae tempora delectus nihil. Accusantium, magni quas quidem placeat odit vel architecto sint ad reprehenderit veritatis aliquam et quia pariatur neque?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dicta est aut eum quidem saepe debitis? Molestiae accusamus enim rem. Nostrum nihil voluptas tempora culpa quis sapiente placeat fuga totam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dicta est aut eum quidem saepe debitis? Molestiae accusamus enim rem. Nostrum nihil voluptas tempora culpa quis sapiente placeat fuga totam?</p>

        </div>
    </section>
</div>
