
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> 
    <title>Confirmation</title>
    <style>
        @media screen and (max-width: 480px) {
          .main_table {
              width: 100% !important;
          }
          .td_responsive{
              width: 100% !important;
          }
          .td_content{
                padding: 20px 80px!important;
            }
        }
        @media only screen and (min-width:481px) and (max-width:699px) {
            .main_table{
                width: 100%!important;

            }
            .td_responsive{
              width: 100% !important;
            }
            .td_content{
                padding: 20px 90px!important;
            }

            }
           


      </style>
</head>
<body style="padding: 0; margin: 0; background-color: #e6e6e6">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#e6e6e6">
           <tbody>
               <tr>
                   <td align="center" class="main">
                       <table class="main_table" width="650" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="td_responsive" style="width: 650px; padding: 45px 0;">
                                        <table width="100%" border="0" cellspadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td bgcolor="#F44336" style="font-family:Arial, san-serif; padding: 20px 0 20px 30px; border-radius: 5px 5px 0px 0px;">
                                                        <a style="color: #ffffff; font-size: 35px;" href=""><img width="120px" src="https://i.ibb.co/jHNBnzD/logoingresar.png" alt="GoTour"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- message -->
                                        <table width="100%" border="0" cellspadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td bgcolor="#ffffff">
                                                        <table width="100%" border="0" cellspadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                      
                                                                        <td align="center" style="padding:30px 0 18px 0;font-family:'Raleway', Arial,sans-serif; font-size: 20px; font-weight: 600;color: #797979">
                                                                            <div style="padding: 10px 0 20px 0">           
                                                                            <img src="https://i.ibb.co/SmP7qJd/shopping-cart-cancel-button.png" alt="">
                                                                            </div>
                                                                        <span style="padding: 0 4px;">Notificação de Reserva Cancelada</span>
                                                                       
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="td_content" style="padding: 0 100px; font-family: 'Montserrat', Arial,sans-serif; font-size: 14px;">
                                                                        <table align="center" width="100%" border="0" cellspadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" ><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Código de Reserva:</span> @@RESERVENUMBER</td>

                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Código de Transação(Gateway de pagamento):</span> <br> @@TRANSACTIONNUMBER</td>

                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold">Tipo e número do documento:</span> <br> @@DOCUMENTNUMBERTYPE  @@DOCUMENTNUMBER</td>

                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Nome Completo:</span>  @@FULLNAME</td>

                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Tour Adquirido: </span>  @@TOURNAME</td>

                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Quantidade de Pessoas:</span>  @@PERSONS</td>

                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Agência Contradata:</span>  @@COMPANYNAME</td>
                                                                                </tr>
                                                                                <tr style="font-size: 15px;color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Data:</span>  @@DATE	</td>

                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Quantidade:</span> @@CURRENCYSYMBOL @@MOUNT</td>
                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Estado de la Reserva:</span>  CANCELADA</td>
                                                                                </tr>
                                                                                <tr style="font-size: 15px; color: #292929;">
                                                                                    <td width="25" style="text-align: right; padding-right: 13px" style="text-align: right; padding-right: 13px"><img src="https://i.ibb.co/gzR1yCM/check-mark-orange.png" alt></td>
                                                                                    <td width="200" style="padding: 10px 0;"><span style="font-weight: bold;">Estado del Reembolso:</span> @@STATEREFUND</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- END message -->
                                        <!-- publish -->
                                        <table width="100%" border="0" cellspadding="0" bgcolor="#ffffff" >
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 30px 50px 55px 50px">
                                                        <table  align="center" width="100%" border="0" cellspadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <a target="_blank" style="text-decoration: none; font-family:  'Raleway', sans-serif; font-size: 12px;    font-size: 15px;
                                                                        background-color: #ff4839;
                                                                        padding: 15px 30px;
                                                                        color: #ffffff;
                                                                        border-radius: 3px;
                                                                        font-weight: bold; " href="#">Escolha um novo Tour</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- footer -->
                                        <table width="100%" border="0" cellspadding="0" cellspacing="0" bgcolor="#f1f4f6">
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 30px 50px; font-family: 'Raleway', sans-serif; font-size: 12px;">
                                                        <table  width="100%" border="0" cellspadding="0" cellspacing="0">
                                                            <tbody>
                                                                
                                                                <tr>
                                                                    <td style="font-size: 13px; color: #787b80;">© 2019 <a style="color: #580129; font-weight: bold;" href="#">GoTour</a>. Todos os direitos reservados.</td>
                                                                    <td><a href=""><img width="18" src="https://i.ibb.co/18YNTzK/facebook-logo.png" alt="Facebook"></a></td>
                                                                    <td><a href=""><img width="18" src="https://i.ibb.co/yqKkWv2/twitter-1.png" alt="Twitter"></a></td>
                                                                    <td><a href=""><img width="18" src="https://i.ibb.co/KsfjHZp/instagram-logo.png" alt="Instagram"></a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
    
                                        <!-- END footer -->
                                    </td>
                                </tr>
                            </tbody>
                       </table>
                   </td>
               </tr>
           </tbody>
        </table>
    </body>
</html>

