<h3 style="font-family:'BebasNeue'">Todos los usuarios</h3>
<div class="table-responsive py-3">
    <table id="example" class="table bg-white text-dark" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Primer Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Agencia</th>
                <th scope="col">Estado</th>
                <th style="width: 5%"></th>
                <th style="width:5%"></th>  
            </tr>
        </thead>    
    </table>
</div>
    
