<h3 style="font-family:'BebasNeue'">Lista de Ciudades</h3>
<div class="table-responsive py-3">
    <table id="TableCity" class="table bg-white text-dark" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Temperatura</th>
                <th scope="col">Altitud</th>
                <th scope="col">Población</th>
                <th scope="col">Foto</th>
                <th scope="col">Estado</th>
                <th style="width: 5%"></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
    </table>
</div>